main{
    background-color: white;
}

main section {
    margin-bottom: 1.5rem;
}

.item {
    margin-bottom: 1rem;
}

.periodo {
    color: gray;
    font-size: 0.9rem;
}

:host {
    display: block;
    flex: 1;
    min-width: 0;
}